.loaderBlink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.black-background {
    background-color: #000;
}



body {
    background: url('background-global.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.background-authentication {
    background: url('authentication-bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


.stars1 {
    background-image:
            radial-gradient(
                    1px 1px at 25px 5px,
                    white,
                    rgba(255, 255, 255, 0)
            ),
            radial-gradient(
                    1px 1px at 50px 25px,
                    white,
                    rgba(255, 255, 255, 0)
            ),
            radial-gradient(
                    1px 1px at 125px 20px,
                    white,
                    rgba(255, 255, 255, 0)
            ),
            radial-gradient(
                    1.5px 1.5px at 50px 75px,
                    white,
                    rgba(255, 255, 255, 0)
            ),
            radial-gradient(
                    2px 2px at 15px 125px,
                    white,
                    rgba(255, 255, 255, 0)
            ),
            radial-gradient(
                    2.5px 2.5px at 110px 80px,
                    white,
                    rgba(255, 255, 255, 0)
            );
}

/*
    STYLE
    body {
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    overflow: hidden;
}
 */

.link {
    background-image: linear-gradient(to bottom right, #ffccff 0%, #6600ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

.rainbow3 {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #9f82ff), color-stop(0.15, #f2f), color-stop(0.3, #c4ffee), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #a8d3ff), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


.rainbow2 {
    background-image: -webkit-linear-gradient(left, #E0F8F7, #585858, #fff); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(left, #E0F8F7, #585858, #fff); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(left, #E0F8F7, #585858, #fff); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(left, #E0F8F7, #585858, #fff); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to right, #E0F8F7, #585858, #fff); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #9700ff), color-stop(0.15, #f2f), color-stop(0.3, #6622ff), color-stop(0.45, #bfb6ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #bc00ff), color-stop(0.15, #f2f), color-stop(0.3, #ff41de), color-stop(0.45, #9f8bff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


.menu-nav-text {
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    -webkit-background-clip: text;
    color:transparent;
    background-clip: text;
}


.input-color {
    background-image: linear-gradient(315deg, #1fd1f9 0%, #e084fe 74%);
    -webkit-background-clip: text;
    color:transparent;
    background-clip: text;
}


.witness {
    background-color: rgba(69, 32, 88, 0.98);
    background-image: linear-gradient(10deg, #512768 0%, #000000 74%);
}

.whale {
    background-color: #130f40;
    background-image: linear-gradient(315deg, #130f40 0%, #000000 74%);
}


.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.input-galaxy-green:active {
    background: #262626;
    color: #00e640;
}
.input-galaxy-green:focus {
    background: #262626;
    color: #00e640;
}

.input-text-galaxy-green {
    color: #00e640;
}



